@keyframes shake {

    10%,
    90% {
        transform: translate3d(-51%, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(-49%, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-52%, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(-48%, 0, 0);
    }
}

@keyframes popup {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
    }

    50% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -80%) scale(1);
        opacity: 0;
    }
}